

@page "/"
@using TruckTrack.Data
@inject ApplicationDbContext dbContext;
@inject NavigationManager navigationManager;
@inject AuthenticationStateProvider authenticate;

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <Authorized>
        @if (dbContext.Users.ToList().Where(x => x.UserName == context.User.Identity?.Name).FirstOrDefault()?.Admin==true)
        {
        <h1>Hello!</h1>

         <p>Welcome to TruckTrack.</p>
       }
    </Authorized>
    <NotAuthorized>
        <h1>Hello!</h1>

        Welcome to TruckTrack.
    </NotAuthorized>
</AuthorizeView>

@code{
    protected override Task OnInitializedAsync()
    {
        var user = authenticate.GetAuthenticationStateAsync().Result;

        if (dbContext.Users.ToList().Where(x => x.UserName == user.User.Identity?.Name).FirstOrDefault()?.Admin==false)
        {
            try
            {
                navigationManager.NavigateTo($"/driverTrack");
            }
            catch
            {

            }
        }
        return base.OnInitializedAsync();
    }
}
